.loading {
	text-align: center;
	background-color: #fff;
	margin-top: 15em;
	img {
		width: 150px;
		height: 150px;
	}

	p {
		font-size: 3em;
		font-weight: 900;
		background-color: #ccc;
		background: cornflowerblue;
		-webkit-text-fill-color: transparent;
		background-clip: text;
	}
}
